#scoreTable {
	width: 40%;
	float: right;
}

#scoreTable th {
	font-weight: bold;
	font-size: 32px;
}

#replayButton {
	position: absolute;
	height: 10%;
	width: 10%;
	border-radius: 10px;
	top: 400px;
	left: 250px;
	display: none;
}

#scoreTable td {
	text-align: center;
	font-weight: bold;
}